:root {
  color-scheme: light dark;

  --bg-color: light-dark(#ffffff, #121212);
  --text-color: light-dark(#333333, #efefef);

  /* NEW */
  --input-bg: light-dark(#f0f3f5, #323232);
  --input-border: light-dark(#d0d7de, #333);
  --input-text: light-dark(#222, #eee);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1{
    color: var(--text-color);
    display: grid;
    place-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form{
    display: grid;
    place-items: center;
    min-height: 100vh;
}
input{
    /* display: grid;
    place-items: center; */
    height:40px;
    width: 700px;
    margin: 5px;
    background-color: var(--input-bg);
    border: none;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
    text-align: left;
    padding-left: 1ch;
}
select{
    /* display: grid;
    place-items: center; */
    height: 45px;
    width: 707px;
    margin: 5px;
    background-color:  var(--input-bg);
    border: none;
    border-radius: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 12px;
    text-align: left;
    padding-left: 1ch;
}

::placeholder{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: light-dark(#666, #aaa);
}


button{
    color: light-dark(#222, #eee);
    background-color: rgb(50, 186, 69);
    border: 2px solid var(--bg-color);
    border-radius: 7px;
    width: 100px;
    height: 40px;
    margin-right: 610px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
}
button:hover{
    background-color:rgb(39, 140, 53) ;
    display: none;
}

label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 47%;
    font-size:medium;
}
.predict {
    margin-top: 5px;
    width: 300px;
    padding: 10px;
    margin-left: 395px;
    padding-right: 400px;
    margin-bottom: 50px;
    display: none;
    border-radius: 10px;

    /* green glass effect */
    background: rgba(90, 237, 110, 0.216);
    backdrop-filter: blur(10px);

    color: var(--text-color);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;
    font-weight: bold;
    font-size: 100%;

    border: 1px solid rgba(42, 255, 71, 0.247);
}